.row {
}

td {
  padding: 0.25em 0.75rem;

  &.date {
    padding-left: 0.1em;
    padding-right: 0.1em;
  }

  &.name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
  }
  
  & > .position, & > .symbol {
    font-size: 0.875em;
  }
}