@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

:root {
  $color-blue: rgb(63, 63, 137);
}

@mixin no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

@mixin center-bg($size: contain) {
	background-size: $size;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bright-hover($hover: 1.15, $active: 0.9) {
	&:hover {
		filter: brightness($hover);
	}
	@if $active != none {
		&:active {
			filter: brightness($active);
		}
	}
}

* {
	box-sizing: border-box;
	font-family: 'Nunito';
	position: relative;
	cursor: default;
	font-weight: normal;
}

html {
	height: 100vh;
	width: 100vw;
	position: relative;
	font-size: 16px;
  background-color: slategray;
}

body {
  width: 100%;
  height: 100%;
	margin: 0;
}

h1, h2 {
  font-weight: bold;
}

.gameBoard {
  $squareSize: 50px;

  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(9, $squareSize);
  grid-auto-rows: $squareSize;
  width: min-content;
  height: min-content;
  user-select: none;

  > div {
    width: $squareSize;
    height: $squareSize;
    background-color: gray;
    border: 2px solid rgb(88, 88, 88);
    font-weight: bold;
    @include flex-center();

    &.hidden {
      border: 2px ridge gray;
      background-color: rgba(173, 173, 173, 0.995);
    }

    &.n1 {
      color: blue;
    }
    &.n2 {
      color: green;
    }
    &.n3 {
      color: red;
    }
    &.n4 {
      color: purple;
    }
    &.n5 {
      color: black;
    }
    &.n6 {
      color: rgb(76, 76, 76);
    }
    &.n7 {
      color: maroon;
    }
    &.n8 {
      color: turquoise;
    }
  }
}

.scores {
  @include flex-center();
  width: fit-content;
  flex-flow: column;

  td, th {
    padding: 0.25em 1rem;
  }

  th {
    font-weight: bold;
  }
}