@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');

:root {
  $color-blue: rgb(63, 63, 137);
}

@mixin no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

@mixin center-bg($size: contain) {
	background-size: $size;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bright-hover($hover: 1.15, $active: 0.9) {
	&:hover {
		filter: brightness($hover);
	}
	@if $active != none {
		&:active {
			filter: brightness($active);
		}
	}
}

* {
	box-sizing: border-box;
	font-family: 'Nunito';
	position: relative;
	cursor: default;
	font-weight: normal;
}

html {
	height: 100vh;
	width: 100vw;
	position: relative;
	font-size: 16px;
  background-color: slategray;
}

body {
  width: 100%;
  height: 100%;
	margin: 0;
}

h1, h2 {
  font-weight: bold;
}

#root {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  
  & > section {
    margin: 2rem;
  }

  & > h1 {
    width: 100%;
    text-align: center
  }
} 

.gameContainer {
  @include flex-center();
  flex-flow: column nowrap;
  width: fit-content;

  select.difficulty {
    width: 10em;
    text-align: center;
    font-size: 1.1em;
  }

  & > * {
    margin: 0.5rem 0;
  }
}

.boardContainer {
  border: 4px outset #cacaca;
  
  .gameBar {
    width: 100%;
    @include flex-center();
    justify-content: space-between;
    background-color: #a1a1a1;
    border-bottom: 4px outset #cacaca;

    & > .timer, & > .flagsDisplay {
      font-size: 1.8em;
      color: red;
      font-family: monospace;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 0.1em 0.5em;
    }
  }
}

.gameBoard {
  --square-size: 40px;

  border: 1px solid black;
  border-top: 4px outset #cacaca;
  display: grid;
  grid-template-columns: repeat(9, var(--square-size));
  grid-auto-rows: var(--square-size);
  width: min-content;
  height: min-content;
  user-select: none;

  & > div {
    @include flex-center();
    @include center-bg(75%);

    width: var(--square-size);
    height: var(--square-size);
    background-color: gray;
    border: 1px solid rgb(88, 88, 88);

    font-size: 1.4em;
    font-weight: bold;

    &.hidden {
      border: 3px outset #cacaca;
      background-color: rgba(173, 173, 173);

      &:hover {
        filter: brightness(1.05);
      }
      &:not(.F).active {
        filter: brightness(0.9);
      }
    }

    &.s1 {
      color: blue;
    }
    &.s2 {
      color: green;
    }
    &.s3 {
      color: red;
    }
    &.s4 {
      color: purple;
    }
    &.s5 {
      color: black;
    }
    &.s6 {
      color: rgb(76, 76, 76);
    }
    &.s7 {
      color: maroon;
    }
    &.s8 {
      color: turquoise;
    }
    &.sM:not(.hidden) {
      background-image: url('../assets/snek.png');
      background-color: maroon;
    }
    &.F.hidden {
      background-image: url('../assets/flag.png');
    }
  }
}

.scores {
  @include flex-center();
  width: fit-content;
  flex-flow: column;

  td, th {
    padding: 0.25em 1rem;
  }

  th {
    font-weight: bold;
  }
}